* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(240, 239, 239);
}

/* header */

.header {
    height: 100px;
    background-color: white;
}

.pos {
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
}

#logo-image {
    vertical-align: middle;
    width: 60px;
}

#nome {
    font-size: 40px;
    vertical-align: middle;
    font-weight: bolder;
}

/* main */

.corp {
    width:75%;
    margin: 0 auto;
    margin-top: 50px;
}



.adds {
    height: 50px;
    background-color: white;
}

.container {
    width:90%;
    margin: 0 auto;
    padding-top: 15px;
}

.button {
    text-align: center;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

#add-tasks {
    background-color: rgb(48, 190, 255);
    color: white;
    border: none;

}

#add-section {
     color: lightgrey;
     background-color: transparent;
     border: 1px solid lightgray;
}

.spazio {
    line-height: 40px;
}

.list {
    padding-top: 20px;
    margin-top: 2px;
    height: 400px;
    background-color: white;
}

#arrow {
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
}

.section {
    display: inline-block;
}

.text {
    font-size: 20px;
}

.verificato {
    display: inline-block;
    color: lightgreen;
    border: 1px solid lightgreen;
    
    border-radius: 50%;
}

.target {
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border-radius: 10px;
}

.editorial {
    background-color: rgb(48, 190, 255);
}

.goals {
    background-color: rgb(176, 48, 255);
}