* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(240, 239, 239);
}

/* header */

.header {
    height: 100px;
    background-color: white;
}

.pos {
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
}

#logo-image {
    vertical-align: middle;
    width: 60px;
}

#nome {
    font-size: 40px;
    vertical-align: middle;
    font-weight: bolder;
}

/* main */

.corp {
    width:75%;
    margin: 0 auto;
    margin-top: 50px;
}



.adds {
    height: 50px;
    background-color: white;
}

.container {
    width:90%;
    margin: 0 auto;
    padding-top: 15px;
}

.button {
    text-align: center;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

#add-tasks {
    background-color: rgb(48, 190, 255);
    color: white;
    border: none;

}

#add-section {
     color: lightgrey;
     background-color: transparent;
     border: 1px solid lightgray;
}

.spazio {
    line-height: 40px;
}

.list {
    margin-top: 2px;
    padding-bottom: 30px;
    height: fit-content;
    background-color: white;
}

/* #arrow {
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
} */

.section {
    padding-top: 20px;
    display: inline-block;
}

.section::before {
    letter-spacing: 5px;
    content: ' \25BC';
    font-size: 15px;
    vertical-align: bottom;
}

.text {
    font-size: 20px;
    
}

.wrong {
    font-size: 20px;
}

.text::before {
    content: ' \2714';
    color: lightgreen;
    border: 1px solid lightgreen;  
    border-radius: 50%;
    vertical-align: middle;
    font-size: 10px;
    padding: 2px 3px;
}

.wrong::before {
    content: ' \2718';
    color: rgb(232, 102, 90);
    border: 1px solid rgb(232, 102, 90);  
    border-radius: 50%;
    vertical-align: middle;
    font-size: 10px;
    padding: 2px 3px;
}

/* .verificato {
    display: inline-block;
    color: lightgreen;
    border: 1px solid lightgreen;  
    border-radius: 50%;
    
    font-size: 10px;
    font-weight: 600;
}

.errato {
    display: inline-block;
    color: rgb(232, 102, 90);
    border: 1px solid rgb(232, 102, 90);  
    border-radius: 50%;
    font-size: 10px;
    font-weight: 600;
} */

.target {
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border-radius: 10px;
}

.editorial {
    background-color: rgb(48, 190, 255);
}

.goals {
    background-color: rgb(176, 48, 255);
}

.recruit {
    background-color: rgba(46, 194, 120, 0.659);
}

.mobile {
    background-color: rgba(241, 175, 33, 0.955);
}

.web {
    background-color: rgba(245, 141, 231, 0.955);
}

.sale {
    background-color: rgba(142, 190, 102, 0.955);
}

